<!DOCTYPE html>

<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=" width=device-width, initial-scale=1.0">
    <title>Login - HabitForge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>

<body>
    <h1>
        HabitForge
    </h1>
    
    <div class="login-container">
        <form action="#" method="POST">
            {{ form.hidden_tag() }}

            <label for="username">Username</label>
            {{ form.username(class="input-field", placeholder="Enter your email address") }}

            <label for="email">Email</label>
            {{ form.email(class="input-field", placeholder="Enter your email address") }}

            <label for="password">Password</label>
            {{ form.password(class="input-field", placeholder="Enter a password") }}

            <label for="confirm_password">Confirm Password</label>
            {{ form.confirm_password(class="input-field", placeholder="Confirm your password") }}

            <button type="submit">Register</button>
        </form>

        <div class="inline-text">
            <p>Already have an account? <a href="#">Log in</a></p>  <!-- Forgot password link -->
        </div>

    </div>
</body>
</html>
